html {
  font-size: 16px;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

ul {
  display: flex;
  background-color: lightgray;
}

li {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 1rem;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;

}

@media screen and (min-width: 401px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .part_1 {
    width: 100%;
    height: 200px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part_2 {
    width: 100%;
    height: 200px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part_3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
  }
  .part_3_left {
    background-color: lightgreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part_3_right {
    background-color: lightsteelblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .part_1 {
    width: 100%;
    height: 200px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part_2 {
    width: 100%;
    height: 200px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part_3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
  }
  .part_3_left {
    background-color: lightgreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part_3_right {
    background-color: lightsteelblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 100%;
    width: auto;
  }
}

